<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" th:href="@{/lib/bootstrap/dist/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/site.css}" href="~/css/site.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="http://localhost:8080">Students</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarColor01"
            aria-controls="navbarColor01"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/show">Show </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="http://localhost:8080"
                  >Add
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/delete"
                  >Delete</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/search"
                  >Search</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/sort">Sort</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <main role="main" class="pb-3">
        <div class="container" id="target">
          <div class="row pt-4 pb-4">
            <div class="col-lg-6 col-md-4">
              <span id="all" class="text-danger"></span>
              <h2 class="text-primary">Add Student</h2>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="/lib/jquery/dist/jquery.min.js" defer="true"></script>
    <script
      src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
      defer="true"
    ></script>
    <script src="/js/site.js" defer="true"></script>
    <script src="/js/number.js" defer="true"></script>
  </body>
</html>
